* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
html {
  scroll-behavior: smooth;
}
 body.open {
    overflow: hidden;
    
  }
.header_container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0px auto;
  padding: 30px 0 10px 0;
  color: #545454;
}

.ul_menu {
  display: flex;
  gap: 35.5px;
  align-content: center;
}

.menu {
  align-content: center;
}
.burger_menu {
  display: none;
}

.first {
  border-bottom: 3px solid #f1cdb3;
}

.ul_menu li {
  display: flex;
  text-decoration: none;
}

a {
  color: #545454;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0px;
  line-height: 160%;
  transition: all 0.8s ease;
}

.logo h1 > a {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 6%;
  line-height: 110%;
  transition: all 0.8s ease;
}
.logo h1 {
  padding-bottom: 10px;
  color: #545454;
}

.logo p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #292929;
  letter-spacing: 10%;
  line-height: 100%;
  padding-left: 4px;
  cursor: pointer;
}
.logo h1 > a:hover {
  color: #292929;
}
.logo p:hover {
  color: #292929;
}
li a:hover {
  color: #292929;
}
h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  letter-spacing: 6%;
  font-size: 35px;
  line-height: 130%;
  color: #545454;
  text-align: center;
}
.pets {
  background-color: #f6f6f6;
}
.pets_container {
  margin: 0 auto;
  max-width: 1200px;
  margin-top: 20px;
}
.our_friends {
  background-color: #f6f6f6;
}
.card_container {
  display: flex;
  justify-content: center;
  gap: 30px 40px;
  align-items: center;
  flex-wrap: wrap;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0px;
  background-color: #fafafa;
  cursor: pointer;
  border-radius: 9px;
  transition:
    background-color 2s,
    box-shadow 2s;
}
.card_img {
  padding-bottom: 30px;
}
.card h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  letter-spacing: 6%;
  font-size: 20px;
  color: #545454;
  line-height: 100%;
  padding-bottom: 30px;
}
.slider_button {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  letter-spacing: 6%;
  font-size: 17px;
  color: #292929;
  line-height: 130%;
  padding: 15px 45px;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  margin-bottom: 25px;
  transition: all 0.8s ease;
}

.card:hover {
  box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.1);
  transition: all 0.3s ease;
  .slider_button {
    background-color: #fddcc4;
    border: 2px solid #fddcc4;
  }
}
.card:active {
  .slider_button {
    background-color: #fafafa;
    border: 2px solid #fddcc4;
    transform: translateY(2px);
    transition: all 0.1s ease;
  }
}
.pets_title {
  padding-bottom: 55px;
  padding-top: 82px;
}
.navigation {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-bottom: 98px;
  padding-top: 64px;
}
.button_paginator_inactive {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  padding: 0;
  border-radius: 50%;
  cursor: default;

  border: 2px solid #cdcdcd;
}
.button_paginator_inactive_two {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  padding: 0;
  border-radius: 50%;
  cursor: default;

  border: 2px solid #cdcdcd;
}

.button_paginator_active {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #f1cdb3;
  background: #f1cdb3;
  cursor: default;
}
.button_paginator_next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  padding: 0;
  border-radius: 50%;
  border: 2px solid #f1cdb3;
  cursor: pointer;
  transition: all 0.8s ease;
}
.button_paginator_all {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  padding: 0;
  border-radius: 50%;
  border: 2px solid #f1cdb3;
  cursor: pointer;
  transition: all 0.8s ease;
}
.button_paginator_next:hover {
  background: #f1cdb3;
}
.button_paginator_all:hover {
  background: #f1cdb3;
}

.into {
  background:
    url(assets/noise_transparent@2x.png),
    linear-gradient(to right, #58483a, #262425);
}
.footer_container {
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 16px;
  padding-bottom: 0px;
}

.footer_content {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.footer_locations_title {
  color: #ffffff;
}
.footer_contacts_title {
  color: #ffffff;
}
footer h5 {
  color: #f1cdb3;
}
.footer_contacts_email {
  display: flex;
  justify-content: start;
  align-items: center;
}

.footer_locations_place {
  display: flex;
  justify-content: start;
  align-items: center;
}
.footer_contacts_title {
  align-items: start;
  padding-bottom: 40px;
}
.footer_locations_title {
  padding-bottom: 33px;
}
.footer_locations_place {
  padding-bottom: 31px;
}
.footer_contacts_email {
  padding-bottom: 40px;
}
.footer_locations {
  padding-right: 6px;
  padding-top: 21px;
}
.footer_h5 {
  padding-left: 20px;
}
.footer_central {
  padding-left: 20px;
}
.footer_contacts {
  padding-top: 21px;
}
h5 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  letter-spacing: 6%;
  font-size: 20px;
  color: #545454;
  line-height: 115%;
}
h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  letter-spacing: 6%;
  font-size: 35px;
  line-height: 130%;
  color: #545454;
  text-align: center;
}
.footer_contacts_title {
  text-align: start;
}
.footer_locations_title {
  text-align: start;
}
.first {
  border-bottom: 3px solid #f1cdb3;
}
.first a {
  color: #292929;
  cursor: default;
}

.footer_container {
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 16px;
  padding-bottom: 0px;
}

.footer_content {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.footer_locations_title {
  color: #ffffff;
}
.footer_contacts_title {
  color: #ffffff;
}
footer h5 {
  color: #f1cdb3;
}
.footer_contacts_email {
  display: flex;
  justify-content: start;
  align-items: center;
}
.footer_contacts_tell {
  display: flex;
  align-items: center;
  padding-bottom: 35px;
}
.footer_contacts_tell a {
  color: #f1cdb3;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  letter-spacing: 6%;
  font-size: 20px;
  line-height: 115%;
}
.footer_locations_place a {
  color: #f1cdb3;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  letter-spacing: 6%;
  font-size: 20px;
  line-height: 115%;
}
.footer_contacts_email a {
  color: #f1cdb3;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  letter-spacing: 6%;
  font-size: 20px;
  line-height: 115%;
}

.footer_locations_place {
  display: flex;
  justify-content: start;
  align-items: center;
}

.footer_contacts_title {
  padding-bottom: 36px;
}
.footer_locations_title {
  padding-bottom: 34px;
}
.footer_locations_place {
  padding-bottom: 28px;
}
.footer_contacts_email {
  padding-bottom: 35px;
}
.footer_locations {
  padding-right: 6px;
  padding-top: 21px;
}
.footer_h5 {
  padding-left: 18px;
}
.footer_central {
  padding-left: 20px;
}
.footer_contacts {
  padding-top: 21px;
}

.footer_contacts_email {
  a {
    color: #f1cdb3;
  }
}
.footer_locations {
  a {
    color: #f1cdb3;
  }
}
.mobile-only {
  display: none;
}

@media (max-width: 1150px) {
  .header_container {
    max-width: 708px;
    padding: 30px 0 8px 0;
  }
  .second_card {
    display: none;
  }
  .navigation {
    padding-bottom: 77px;
    padding-top: 42px;
  }

  .card_container {
    gap: 30px 40px;
  }
  .slider_arrow {
    gap: 12px;
    justify-content: center;
  }
  .pets_title {
    padding-bottom: 26px;
    padding-top: 82px;
  }

  .footer_content {
    flex-wrap: wrap;
    justify-content: center;
    gap: 27px 59px;
    padding-top: 15px;
  }

  .footer_contacts {
    padding-top: 0px;
  }
  .footer_locations {
    padding-top: 0px;
  }
  .footer_locations_title {
    padding-bottom: 32px;
  }
  .footer_locations_place {
    padding-bottom: 30px;
  }
  .footer_contacts_email {
    padding-bottom: 35px;
  }
  .footer_contacts_tell {
    display: flex;
    align-items: center;
    padding-bottom: 35px;
  }
  .footer_puppy {
    margin-bottom: 0px;
  }
}

@media (max-width: 767px) {
  .burger_menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
     z-index: 3;
  }
  .menu {
    display: flex;
    position: absolute;
    right: -320px;
    top: 0;
    height: 100vh;
    background-color: #292929;
    padding: 248px 39px 248px 39px;
    transition: transform 0.8s;
  }
  .overlay.open {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
  
}
  .burger_menu_span {
    width: 30px;
    height: 2px;
    background-color: #000000;
    transition: transform .8s;
  }
  a {
    font-size: 32px;
    text-align: center;
    color: #cdcdcd;
  }
  .first a {
  border-bottom: 2px solid #f1cdb3;
  cursor: default;
  color: #fafafa;
}
.logo a {
  color: #545454;
}
.first {
  border-bottom: 0px solid #000000;
}
li a:hover {
  color: #fafafa;
}
  .ul_menu {
    flex-direction: column;
    gap: 40px;
  }
    .ul_menu li {
    display: flex;
    justify-content: center;
  }
 .open.menu {
  transform: translateX(-100%);
}
.open.burger_menu {
  gap: 10px;
   background-color: #292929;
}
body.no-scroll {
 overflow: hidden;
 touch-action: none;
}
.open .burger_menu_span:nth-child(1) {
    transform: translateX(10px) translateY(12px) rotate(90deg);
    height: 2px;
    background-color: #f1cdb3;
  }
  .open .burger_menu_span:nth-child(2) {
    transform: translateY(0px) rotate(90deg);
    height: 2px;
    background-color: #f1cdb3;
  }
  .open .burger_menu_span:nth-child(3) {
    transform: translateX(-10px) translateY(-12px) rotate(90deg);
    height: 2px;
    background-color: #f1cdb3;
  }
  
}
@media (max-width: 695px) {
  .header_container {
    max-width: 88%;
  }

  .slider_arrow {
    gap: 0px;
  }
  .navigation {
    padding-bottom: 45px;
    padding-top: 42px;
    gap: 10px;
  }
  .third_card {
    display: none;
  }
  .pets_title {
    font-size: 25px;
    padding-bottom: 42px;
    padding-top: 43px;
  }
  .card_img {
    padding-bottom: 29px;
  }

  .slider_arrow {
    flex-wrap: wrap;
    gap: 13px 83px;
  }
  .button_primary {
    margin: 40px auto 45px;
  }
  .card_container {
    width: 100%;
    order: -1;
  }

  h4 {
    letter-spacing: 6%;
    font-size: 15px;

    line-height: 110%;
    padding-bottom: 30px;
  }

  h3 {
    font-weight: 400;
    letter-spacing: 6%;
    font-size: 25px;
    line-height: 130%;
    color: #545454;
  }

  .footer_contacts_title {
    text-align: center;
  }
  .footer_locations_title {
    text-align: center;
  }
  .desktop-only {
    display: none;
  }
  .mobile-only {
    display: inline;
  }
  .footer_contacts {
    margin: 0 34px;
  }
  .tell {
    padding-left: 27px;
    padding-bottom: 5px;
  }
  .footer_contacts_tell {
    padding-bottom: 7px;
  }
  .footer_locations_title {
    padding-bottom: 40px;
  }

  .second {
    padding-bottom: 37px;
  }
  .second_two {
    padding-bottom: 11px;
  }
  .footer_puppy img {
    width: 88%;
    padding-left: 25px;
  }
  .footer_contacts_email {
    padding-bottom: 38px;
  }
  .footer_locations {
    padding-top: 0px;
    padding-right: 0px;
  }
}

@keyframes moveLeft {
  from {
      left: -108%;
  }

  to {
      left: -216%;
  }
}

@keyframes moveRight {
  from {
      left: -108%;
  }

  to {
      left: 0;
  }
}

.move-to-left {
  animation-name: moveLeft;
  animation-duration: 1s;
}

.move-to-right {
  animation-name: moveRight;
  animation-duration: 1s;
}

@keyframes hide {
  from {
      opacity: 1;
  }

  to {
      opacity: 0;
  }
}

.disappearance {
  animation-name: hide;
  animation-duration: 0.75s;
}

.appearance {
  animation-name: hide;
  animation-duration: 0.5s;
  animation-direction: reverse;
}