* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
html {
  scroll-behavior: smooth;
}
.header_container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0px auto;
  padding: 30px 0 10px 0;
  color: #545454;
}

.ul_menu {
  display: flex;
  gap: 35.5px;
  align-content: center;
}

.menu {
  align-content: center;
}

.first {
  border-bottom: 3px solid #f1cdb3;
}

.ul_menu li {
  display: flex;
  text-decoration: none;
}

a {
  color: #545454;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0px;
  line-height: 160%;
  transition: all 0.8s ease;
}

.logo h1 > a {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 6%;
  line-height: 110%;
  transition: all 0.8s ease;
}
.logo h1 {
  padding-bottom: 10px;
  color: #545454;
}

.logo p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #292929;
  letter-spacing: 10%;
  line-height: 100%;
  padding-left: 4px;
  cursor: pointer;
}
.logo h1>a:hover {
    color: #292929;
}
.logo p:hover {
    color: #292929;
}
li a:hover {
  color: #292929;
}
h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  letter-spacing: 6%;
  font-size: 35px;
  line-height: 130%;
  color: #545454;
  text-align: center;
}
.pets {
    background-color: #f6f6f6;

}
.pets_container {
  margin: 0 auto;
  max-width: 1200px;
  margin-top: 20px;
}
.card_container {
  display: flex;
  justify-content: center;
  gap: 30px 40px;
  align-items: center;
  flex-wrap: wrap;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0px;
  background-color: #fafafa;
  cursor: pointer;
  border-radius: 9px;
  transition:
    background-color 2s,
    box-shadow 2s;
}
.card_img {
  padding-bottom: 30px;
}
h4 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  letter-spacing: 6%;
  font-size: 20px;
  color: #545454;
  line-height: 100%;
  padding-bottom: 30px;
}
.slider_button {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  letter-spacing: 6%;
  font-size: 17px;
  color: #292929;
  line-height: 130%;
  padding: 15px 45px;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  margin-bottom: 25px;
  transition: all 0.8s ease;
}

.card:hover {
 
   box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.1);
  transition: all 0.8s ease;
  .slider_button {
    background-color: #fddcc4;
    border: 2px solid #fddcc4;
  }
}
.pets_title {
  padding-bottom: 55px;
  padding-top: 82px;
}
.navigation {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-bottom: 98px;
  padding-top: 64px;
}
.button_paginator_inactive {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    padding: 0;
    border-radius: 50%;
    cursor: default;

   border: 2px solid #cdcdcd;
}
.button_paginator_active {
     display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    padding: 0;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #f1cdb3;
    background: #f1cdb3;
    cursor: default;
}
.button_paginator_next {
   display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    padding: 0;
    border-radius: 50%;
    border: 2px solid #f1cdb3;
    cursor: pointer;
    transition: all 0.8s ease;
}
.button_paginator_all {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    padding: 0;
    border-radius: 50%;
    border: 2px solid #f1cdb3;
    cursor: pointer;
    transition: all 0.8s ease;
}
 .button_paginator_next:hover  {
     background: #f1cdb3;
 }
   .button_paginator_all:hover{
     background: #f1cdb3;
 }

.into {
  background:
    url(assets/noise_transparent@2x.png),
    linear-gradient(to right, #58483a, #262425);
}
.footer_container {
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 16px;
  padding-bottom: 0px;
}

.footer_content {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.footer_locations_title {
  color: #ffffff;
}
.footer_contacts_title {
  color: #ffffff;
}
footer h5 {
  color: #f1cdb3;
}
.footer_contacts_email {
  display: flex;
  justify-content: start;
  align-items: center;
}

.footer_locations_place {
  display: flex;
  justify-content: start;
  align-items: center;
}
.footer_contacts_title {
  align-items: start;
  padding-bottom: 40px;
}
.footer_locations_title {
  padding-bottom: 33px;
}
.footer_locations_place {
  padding-bottom: 31px;
}
.footer_contacts_email {
  padding-bottom: 40px;
}
.footer_locations {
  padding-right: 6px;
  padding-top: 21px;
}
.footer_h5 {
  padding-left: 20px;
}
.footer_central {
  padding-left: 20px;
}
.footer_contacts {
  padding-top: 21px;
}
h5 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  letter-spacing: 6%;
  font-size: 20px;
  color: #545454;
  line-height: 115%;
}
h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  letter-spacing: 6%;
  font-size: 35px;
  line-height: 130%;
  color: #545454;
  text-align: center;
}
.footer_contacts_title {
  text-align: start;
}
.footer_locations_title {
  text-align: start;
}
.first {
  border-bottom: 3px solid #f1cdb3;
}
.first a {
  color: #292929;
  cursor: default;
}


.footer_container {
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 16px;
  padding-bottom: 0px;
}

.footer_content {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.footer_locations_title {
  color: #ffffff;
}
.footer_contacts_title {
  color: #ffffff;
}
footer h5 {
  color: #f1cdb3;
}
.footer_contacts_email {
  display: flex;
  justify-content: start;
  align-items: center;
}
h5 a {
  color: #f1cdb3;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  letter-spacing: 6%;
  font-size: 20px;
  line-height: 115%;
}

.footer_locations_place {
  display: flex;
  justify-content: start;
  align-items: center;
}
.footer_contacts_title {
  padding-bottom: 36px;
}
.footer_locations_title {
  padding-bottom: 34px;
}
.footer_locations_place {
  padding-bottom: 28px;
}
.footer_contacts_email {
  padding-bottom: 33px;
}
.footer_locations {
  padding-right: 6px;
  padding-top: 21px;
}
.footer_h5 {
  padding-left: 18px;
}
.footer_central {
  padding-left: 20px;
}
.footer_contacts {
  padding-top: 21px;
}

.footer_contacts_email  {
  a {
  color: #f1cdb3;
  }
}
.footer_locations {
  a {
  color: #f1cdb3;
  }
}
