* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
html {
  scroll-behavior: smooth;
}

.into {
  background:
    url(assets/noise_transparent@2x.png),
    linear-gradient(to right, #58483a, #262425);
}

.header_container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0px auto;
  padding: 30px 0 91.7px 0;
  color: #f1cdb3;
}

.ul_menu {
  display: flex;
  gap: 35.5px;
  align-content: center;
}

.menu {
  align-content: center;
}

.first a {
  border-bottom: 3px solid #f1cdb3;
  cursor: default;
  color: #fafafa;
}

.ul_menu li {
  display: flex;
  text-decoration: none;
}

a {
  color: #cdcdcd;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0px;
  line-height: 160%;
  transition: all 0.8s ease;
}
a:hover {
  color: #fafafa;
}
.footer_contacts_email {
  a:hover {
    color: #f1cdb3;
  }
}
.footer_locations {
  a:hover {
    color: #f1cdb3;
  }
}

.logo h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 6%;
  line-height: 110%;
  padding-bottom: 10px;
  transition: all 0.8s ease;
}
.logo h1:hover {
  color: #f6f6f6;
}

.logo {
  cursor: pointer;
}

.logo p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #ffffff;
  letter-spacing: 10%;
  line-height: 100%;
  padding-left: 4px;
  transition: all 0.8s ease;
}
.logo p:hover {
  color: #f6f6f6;
}

.start_screen_container {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0px auto;
  
  
}

.start_screen_images {
  max-height: 728px;
  padding-left: 40px;
}

.start_screen_title {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 44px;
  color: #ffffff;
  letter-spacing: 0%;
  line-height: 130%;
  padding-bottom: 42px;
}

.start_screen_text {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #ffffff;
  letter-spacing: 0%;
  line-height: 160%;
  padding-bottom: 42px;
  max-width: 460px;
}

.start_screen_button {
  padding: 15px 45px;
  cursor: pointer;
  transition: all 0.8s ease;
  border-radius: 100px;
  margin-bottom: 40px;
  margin-top: 20px;
  background-color: #f1cdb3;
}
.start_screen_button {
  color: #292929;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 17px;
  letter-spacing: 6%;
  line-height: 130%;
}
.start_screen_button:hover {
  background-color: #fddcc4;
  color: #292929;
}

.start_text {
  padding-bottom: 22px;
}

.about_container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 120px;
  padding-top: 80px;
  padding-bottom: 100px;
}

.about-title {
  padding-top: 14px;
}

h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  letter-spacing: 6%;
  font-size: 35px;
  line-height: 130%;
  color: #545454;
}

.about-text {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  letter-spacing: 0%;
  font-size: 15px;
  color: #545454;
  line-height: 160%;
}

.about-content {
  display: flex;
  flex-direction: column;
  max-width: 430px;
  gap: 25px;
}

.pets_title {
  padding-top: 77px;
  text-align: center;
  padding-bottom: 55px;
}

.arrow-left {
  padding: 20px 16px;
  border: 2px solid #f1cdb3;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.8s ease;
}
.arrow-left:hover {
  background-color: #fddcc4;
  border: 2px solid #fddcc4;
}

.card_container {
  display: flex;
  justify-content: center;
  gap: 90px;
  align-items: center;
}
.pets {
  background-color: #f6f6f6;
}

.pets_container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #f6f6f6;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0px;
  border-radius: 9px;
  transition:
    background-color 2s,
    box-shadow 2s;
  cursor: pointer;
  background-color: #fafafa;
  cursor: pointer;
}

h4 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  letter-spacing: 6%;
  font-size: 20px;
  color: #545454;
  line-height: 100%;
  padding-bottom: 30px;
}

.card_img {
  padding-bottom: 30px;
}

.slider_button {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  letter-spacing: 6%;
  font-size: 17px;
  color: #292929;
  line-height: 130%;
  padding: 15px 45px;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  margin-bottom: 25px;
  transition: all 0.8s ease;
}
.card:hover {
  box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.1);
  transition: all 0.8s ease;
  .slider_button {
    background-color: #fddcc4;
    border: 2px solid #fddcc4;
  }
}
.card:active {

  .slider_button {
   background-color: #fafafa;
    border: 2px solid #fddcc4;
    transform: translateY(2px);
     transition: all 0.1s ease;
  }
}
.button_pets {
  display: flex;
}

.button_primary {
  padding: 15px 45px;
  transition: all 0.8s ease;
  border-radius: 100px;
  text-align: center;
  margin: 62px auto 100px;

  cursor: pointer;

  background-color: #f1cdb3;
}
.button_primary  {
  color: #292929;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  letter-spacing: 6%;
  font-size: 17px;
  line-height: 130%;
}
.button_primary:hover {
  background-color: #fddcc4;
   color: #292929;
}

.slider_arrow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrow {
  padding-top: 10px;
}

.help_title {
  padding-top: 80px;
  text-align: center;
  padding-bottom: 60px;
}

.help_list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 120px;
  justify-content: center;
  max-height: 281px;
  margin-bottom: 100px;
}

.help_container {
  max-width: 1200px;
  margin: 0 auto;
}

.help_list_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

h5 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  letter-spacing: 6%;
  font-size: 20px;
  color: #545454;
  line-height: 115%;
}
.in_addition {
  background-color: #f6f6f6;
}

.donation_container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding-top: 80px;
}

.donation_content {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-bottom: 99.5px;
}

.credit_card_content {
  display: flex;
  background-color: #f1cdb3;
  padding: 10px 5px 10px 15px;
  margin-bottom: 20px;
  width: 349px;
  border-radius: 9px;
  cursor: pointer;
  transition: all 0.8s ease;
}
.credit_card_content:hover {
  background-color: #fddcc4;
}

.donation_text {
  max-width: 380px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  letter-spacing: 0%;
  font-size: 12px;
  color: #b2b2b2;
  line-height: 18px;
}

.credit_card_number {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  letter-spacing: 6%;
  font-size: 20px;
  color: #545454;
  line-height: 115%;
  padding-left: 15px;
}

.donation_content h4 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  letter-spacing: 6%;
  font-size: 15px;
  color: #545454;
  line-height: 110%;
  padding-bottom: 20px;
}

.donation_image {
  padding-top: 10px;
}

.donation_title {
  padding-bottom: 20px;
}

.footer_container {
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 16px;
  padding-bottom: 0px;
}

.footer_content {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.footer_locations_title {
  color: #ffffff;
}
.footer_contacts_title {
  color: #ffffff;
}
footer h5 {
  color: #f1cdb3;
}
.footer_contacts_email {
  display: flex;
  justify-content: start;
  align-items: center;
}

.footer_locations_place {
  display: flex;
  justify-content: start;
  align-items: center;
}
.footer_contacts_title {
  align-items: start;
  padding-bottom: 40px;
}
.footer_locations_title {
  padding-bottom: 33px;
}
.footer_locations_place {
  padding-bottom: 31px;
}
.footer_contacts_email {
  padding-bottom: 40px;
}
.footer_locations {
  padding-right: 6px;
  padding-top: 21px;
}
.footer_h5 {
  padding-left: 20px;
}
.footer_central {
  padding-left: 20px;
}
.footer_contacts {
  padding-top: 21px;
}
h5 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  letter-spacing: 6%;
  font-size: 20px;
  color: #545454;
  line-height: 115%;
}
h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  letter-spacing: 6%;
  font-size: 35px;
  line-height: 130%;
  color: #545454;
  text-align: start;
}
.footer_contacts_title {
  text-align: start;
}
.footer_locations_title {
  text-align: start;
}

.first a {
  color: #fafafa;
  cursor: default;
   border-bottom: 3px solid #f1cdb3;
}

.footer_container {
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 16px;
  padding-bottom: 0px;
}

.footer_content {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.footer_locations_title {
  color: #ffffff;
}
.footer_contacts_title {
  color: #ffffff;
}
footer h5 {
  color: #f1cdb3;
}
.footer_contacts_email {
  display: flex;
  justify-content: start;
  align-items: center;
}
.footer_locations_place a {
  color: #f1cdb3;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  letter-spacing: 6%;
  font-size: 20px;
  line-height: 115%;
}
.footer_contacts_email a {
  color: #f1cdb3;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  letter-spacing: 6%;
  font-size: 20px;
  line-height: 115%;
}

.footer_locations_place {
  display: flex;
  justify-content: start;
  align-items: center;
  
}



.footer_contacts_title {
  padding-bottom: 36px;
}
.footer_locations_title {
  padding-bottom: 34px;
}
.footer_locations_place {
  padding-bottom: 28px;
}
.footer_contacts_email {
  padding-bottom: 33px;
}
.footer_locations {
  padding-right: 6px;
  padding-top: 21px;
}
.footer_h5 {
  padding-left: 18px;
}
.footer_central {
  padding-left: 20px;
}
.footer_contacts {
  padding-top: 21px;
}

.footer_contacts_email {
  a {
    color: #f1cdb3;
  }
}
.footer_locations {
  a {
    color: #f1cdb3;
  }
}

@media (max-width: 1150px) {
.start_screen_container {
  flex-direction: column;
  text-align:start;
  /* max-width: 569px; */
 
}
.header_container {
  max-width: 708px;
  padding: 30px 0 62px 0;
  
}
.start_screen_button {
  margin-left: 125px;
}
.start_screen_images img{
align-content: end;
 }
 .start_screen_text {
  padding-bottom: 56px;
 }
.about_container {
  flex-direction: column-reverse;
  align-items: center;
  gap: 78px;
}
.third_card {
  display: none;
}
.donation_container {
  flex-direction: column-reverse;
  align-items: center;
  padding-bottom: 96px;
}
.card_container {
  gap: 40px;
}
.slider_arrow {
  gap: 12px;
  justify-content:center;
}
.help_list {
gap: 28px 80px;
margin-bottom: 0px;
max-height: 449px;
max-width: 600px ;
justify-content: space-between;
}
.help_container {
  max-width: 669px;
  margin-bottom: 100px;
}
.footer_content {
  flex-wrap: wrap;
  justify-content: center;
  gap: 27px 59px;
  padding-top: 15px;
  ;
  
}
.start_screen_images {
  display: flex;
  justify-content: end;
  padding-left: 3px;
  align-items: center;
 
}
.start_screen_images img{
  width: 82%;
}
.about-title {
  padding-top: 0px;
}
.donation_content {
  padding-left: 0px;
  padding-bottom: 50px;
}
.footer_contacts {
  padding-top: 0px;
}
.footer_locations {
  padding-top: 0px;
}
.footer_locations_title {
    padding-bottom: 32px;
}
.footer_locations_place {
    padding-bottom: 30px;
}
.footer_contacts_email {
    padding-bottom: 35px;
}
.footer_puppy {
  margin-bottom: 0px;
}


.second {
  padding-bottom: 30px;
}
}